<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inicio de Sesión en BE+</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>Hola estimado(a) <span th:text="${userName}"></span>,</p>

<p>
    Te informamos que se ha registrado un inicio de sesión en tu cuenta de BE+.<br> <b>Si no has sido tú, por favor contacta con nuestro equipo de soporte inmediatamente.</b><br>
    <br>Puedes verificar la actividad reciente de tu cuenta iniciando sesión en nuestro sitio web.
</p>
<p>
    Si tienes alguna pregunta o necesitas asistencia, no dudes en ponerte en contacto con nuestro equipo de soporte respondiendo a este correo.
</p>
<div>
    <a href="https://www.instagram.com/beplus.pe/">
        <img src="https://cdn.discordapp.com/attachments/811075191538450495/1244158489861816371/Rockie.png?ex=66541863&is=6652c6e3&hm=c46f2fd9fda7c7a20901a03b02bcf88b191b320bf794673cf8890ac2d0a84822&" alt="Roquita" title="BE+ logo" width="150" height="100" />
    </a>
</div>

<p>
    Because with BE+ you can plus!<br />
    <em>El equipo de BE+</em>
</p>
</body>
</html>